#app {
  z-index: 1000;
  position: fixed;
  background: white;
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
}

.sentence-wrapper.sentence-wrapper--selected {
  background: lightgreen;
  cursor: pointer;
}

.player-recorder__button {
  padding: 10px;
}

.player-recorder__button:hover {
  cursor: pointer;
}

.player-recorder__button--disabled {
  color: gray;
}
