* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    width: 500px;
}

.drag-zone {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    overflow: hidden;
    position: relative;
}

.drag-text {
    border: 1px dashed black;
    position: absolute;
}

#add-drag-text {
    height: 50px;
    font-size: 16px;
    padding: 0 10px;
}